* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    }

.header {
    padding: 0 256px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    }    

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    }  

a  { 
    text-decoration: none;
    }

.nav-links {
        list-style-type: none;
        display: flex;
        gap: 16px;
    }
    
.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 100px 256px;
    }

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px 
    }       

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
   }

ul {
    color: #E5E7EB;
    }

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    }

.button {
    border-radius: 15px;
    font-weight: bold;
    padding: 8px 32px;
    font-size: 18px;
    }
  
.hero-button.button {
    background-color: #3882F6;
    color: #F9FAF8;
    align-self: flex-start;
    }

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    }

.image {
    height: 400px;
    width: 400px;
    align-items: center;
    flex: 1;
    }

.subheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 64px;
    }

.puffs {
        padding: 64px 64px 128px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 64px;

        }

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    word-break: break-all;
    gap: 16px;
    }

.placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        outline-style: solid;
        width: 64px;
        height: 64px;
        outline-color:#3882F6 ;
        border-radius: 10px 10px 10px 10px;
        
        }

.info-card-text {
    font-size: 18px;
    color: grey;
    text-align: center;
    word-break: break-word;
    }   

.testimonial {
        padding: 128px 472px 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #E5E7EB;
        }
    
.quote {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
        color: #1F2937;
        margin-bottom: 8px;
        }
    
.author {
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        }   

.modal {
    padding: 128px 256px; 
  color: #E5E7EB;
}
        
.container {
  padding: 64px 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  background-color:  #3882F6;
  border-radius: 8px;
    }

.cta-text-content {
        flex: auto;
      }

.cta-button {
        flex: none;
        background-color: transparent;
        border: 2px solid #F9FAF8;
        color: #F9FAF8;
        
      }

.singup {
        font-size: 20px;
        font-weight: bold;
        color: #F9FAF8;
        margin-bottom: 8px;
      }

.text {
    color: #E5E7EB;
    padding-bottom: 15px;
    
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;   
    }